.copyBtn {
    margin: 30px 40px 0;
}

.title {
    padding-left: 20px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 8px;
        height: 100%;
        background: #6190e8;
    }
}
