.home {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;

  .swiper {
    .swiperItem {
      width: 100%;
      height: 300px;

      .swiperImage {
        width: 100%;
        height: 100%;
      }
    }
  }

  .checkIn {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 20px 0;
    background: #fff;
    padding: 44px 0;

    .checkInBox {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #6190E8;
      color: #fff;
      width: 170px;
      height: 170px;
      border-radius: 50%;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 170px;
        height: 170px;
        background: #6190E8;
        border-radius: 50%;
        opacity: .4;
        animation: bgScale 3s linear 1s infinite;
        -webkit-animation: bgScale 3s linear 1s infinite;
      }

      @keyframes bgScale {
        0% {
          transform: scale(1)
        }

        25% {
          transform: scale(1.2)
        }

        50% {
          transform: scale(1.1)
        }

        100% {
          transform: scale(1)
        }
      }

      .text {
        font-size: 24px;
      }

      .time {
        margin-top: 10px;
        font-size: 18px
      }
    }

    .tip {
      margin-top: 20px;
      font-size: 22px;
      color: #aaa
    }
  }

  .grid {
    background: #fff;
  }

  .tabBar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .modal {
    text-align: center;
  }
}
